body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 20px;
    padding: 0;
}
.container {
    background-color: #1e1e1e;
    width: 600px;
    height: 300px;
    margin: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {

}
.searchBox {
    margin-top: 20px;
    margin-left: 20px;
}
.searchBar {
    border-radius: 10px;
}
body.container {
    display: flex;
    justify-content: center;
    align-items: center;
}